.info-container {
    margin: 160px auto 160px auto;
    background-color: #f7692130;
    border-radius: 26px;
    padding: 5px;
    width: 80%;
    max-width: 1000px;
    padding-bottom: 40px !important;
    
}

.info-titre {
    width: 100%;
    text-align: center;
}

.sous-description{
    width: 90%;
    max-width: 55ch;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0 !important;
    
}

.info-container p, h3, ul {
    padding-left: 10%;
    padding-right: 10%;
    
}

#armoirie-ddp, .latulippe {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;
    margin-right: 20px;
}