.reservation-container {
    margin: 160px auto 160px auto;
    background-color: #f7692130;
    border-radius: 26px;
    
    padding: 5px 5px 40px 5px;
    width: 90%;
    max-width: 1000px;

    
}

#contact-ddp {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 80%;
    text-align: center; 
}


#telephone-ddp {
    background-color: rgb(0, 255, 8);
    width: 160px;
    padding: 2.5px;
    height: 35px;
    border-radius: 25px;
    color: white;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

#telephone-ddp p {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#courriel-ddp {
    background-color: rgb(0, 119, 255);
    width: 360px;
    max-width: 80vw;
    padding: 2px;
    height: 35px;
    margin: 5px;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    overflow: hidden;
}
#courriel-ddp p {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.reservation-container h1 {
    text-align: center;
}

fieldset.top {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f76921;
    
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}

.top input {
    width: 80%;
    max-width: 45ch;
    margin-bottom: 10px;
}

.middle {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f76921;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.middle input{
    margin-right: 2%;
}


.bottom {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f76921;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.bottom input, select {
    margin-bottom: 10px;
}



#envoyer-formulaire {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    width: 146px;
    height: 34px;
    border-radius: 16px;
    border: 1px solid grey;
    background-color: #f76921;
    color: black; 
}

#envoyer-formulaire:hover {
    background-color: white;
    color: #f76921;
    cursor: pointer; 

}

